{% extends "alphabox/base.html" %}
{% load static %}
{% block title %}{% endblock title %}

{% block stylesheet %}
{{block.super}}
    <link href="{% static 'alphabox/assets/css/dashboard.css' %}" rel="stylesheet">
{% endblock stylesheet %}

{% block content %}
    <div class="h-100">
        <nav class="navbar sticky-top navbar-dark flex-md-nowrap p-0 shadow " id='NavBar'>
            <h1 class="navbar-brand col-md-3 col-lg-2  px-3 h1 mb-0 mr-0" href="index.html"> AlphaBox</h1>
            <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <form action="truc.html" class="w-100">
                <input class="form-control form-control-light" type="search" placeholder="Rechercher un Tableau de bord..." aria-label="Search">
            </form>
            {% include '../includes/mainNav.html' %}
        </nav>
        <div class="container-fluid">
          <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-transparent" style="position: fixed !important">
              <div class="sidebar-sticky pt-3">
                {% block stickySideBar %} {% endblock stickySideBar %}
              </div>
            </nav>
        
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4 bg-light h-100 overflow-auto" style="min-height: 520px">
            {% if page_name == "search" or not User %}  
              <div class="mt-5 mt-5 d-flex justify-content-center">
                <p class="col-md-5 text-justify alert alert-info">
                  Vous accesez à cette page en tant que visiteur, les fonctionalité donc vous disposez se retrouvent donc réduites.
                  veuillez vous <a href="javascript:void(0)" data-toggle="modal" data-target="#registerModal">inscricre</a> ou vous <a href="javascript:void(0)"  data-toggle="modal" data-target="#connexionModal">connecter</a> pour acceder à l'ensemble du contenu de cette page
                </p>
              </div>
            {% else %}
              {% block main_content %}{% endblock main_content %}
            {% endif %}
            </main>
          </div>
        </div>
    </div>
{% endblock content %}
{% block script %}
    {{block.super}}
    <script type="text/javascript">
    
    window.onscroll = function() {myFunction()};
    
    function myFunction() {
        if (document.body.scrollTop > 35 || document.documentElement.scrollTop > 35) {
        document.getElementById("NavBar").style.backgroundColor = "rgba(6, 40, 77, 0.957)";
        }else{
        document.getElementById("NavBar").style.backgroundColor = "transparent";
        }
    }
    </script>
    <script type="text/javascript">
      $("#invitations").popover({
          title: '<h5>Invitations à des parties</h5>',
          container: 'body',
          placement: 'bottom',
          html: true, 
          content: function(){
                return $('#invitationList').html();
          }
      });
      $("#publier").popover({
        title: '<h5>Partager votre tableau de bord sur : </h4>',
        container: 'body',
        placement: 'bottom',
        html: true, 
        content: function(){
              return $('#publierList').html();
        }
    });
      </script>
{% endblock script %}