/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1050; /* Stay on top */
    top: 0; /* Stay at the top */
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  .sidenav {
    right: 0;
  }
  /* The navigation menu links */

  .sidenav a{
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .sidenav ul.flex-column a{
    font-size: 15px;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav .body a:hover, .sidenav .body a:active {
    background-color: rgba(7, 95, 136, 0.87);
    color: #ffffff;
    text-decoration: none;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .sideNavHeader {
    position: absolute;
    top: 0;
    font-size: 36px;
    background-color: rgb(0, 0, 0);
    padding: 8px 8px 8px 32px;

}
  .sidenav .closebtn{
    right: 25px;
    text-decoration: none;
    font-size: 36px;
  }
  .sidenav .closebtn:hover{
    color: rgb(209, 73, 49);
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }