{% extends "alphabox/base.html" %}
{% load static %}
{% block title %}{% endblock title %}

{% block stylesheet %}
    {{block.super}}
    <link href="{% static 'alphabox/assets/css/gameMainStyle.css' %}" rel="stylesheet">
    <style>

      @font-face {
        font-family: myFirstFont;
        src: url({% static 'alphabox/assets/fonts/fanta___.ttf' %});
      }
      /* pour le clavier virtuel */
      .virtualKeyBoardDisplay .letter{
        font-family: fantasyFont;
        font-size: 18px;
        
      }
      .multiselect {
        text-align: left;
        width: 300px;
      }
      .multiselect b.caret {
        position: absolute;
        top: 14px;
        right: 8px;
      }
      ul.multiselect-container{
        padding: 15px;
      }
      .multiselect-group {
        font-weight: bold;
      }
      .multiselect-all label {
        font-weight: bold;
      }
      .multiselect-search {
        color: red;
      }
      .step{
        background-color: rgb(0, 140, 255);
        color: aliceblue;
        padding: 7px;
        font-style: italic;
        border-radius: 50%;
      }
    </style>
{% endblock stylesheet %}

    {% block backgroundAnimations %}
        <div class="bg"></div>
        <div class="bg bg2"></div>
        <div class="bg bg3"></div>
    {% endblock backgroundAnimations %}

{% block content %}
        <div class="">
          <div class="masthead-brand d-flex text-white justify-content-between align-items-center m-0 mx-3">
            <h2 class="masthead-brand d-flex text-white justify-content-between align-items-center m-0 mx-3"><i class="fas fa-2x fa-gamepad animated headShake slow infinite"></i> <span>AlphaBox</span></h2>
            <div class="inner">
              <a href="javascript:void(0)" class="mx-2 btn btn-primary p-1" id="bonus" data-toggle='popover' data-trigger="focus"> <i class="fa fa-1x fa-plus-circle"></i> Bonus & Tips</a>
                <div class="dropdown-menu overflow-auto" id="bonusList">
                  <div class="list-group  m-0 p-0"  style="width: 400px; height:400px">
                      <div class="overflow-auto m-0 p-0" style="height: 400px;">
                        <li  class="dropdown-menu list-group-item list-group-item-action">
                          <div class="d-flex w-100 justify-content-between">
                            <a onclick=""class="btn btn-sm btn-outline-danger p-1" data-toggle="modal" data-target="#AlertModuleNotReady"> <i class="fas fa-facebook"></i> </a> 
                            <a onclick=""class="btn btn-sm btn-outline-danger p-1" data-toggle="modal" data-target="#AlertModuleNotReady"> <i class="fas fa-twitter"></i></a> 
                            <a onclick=""class="btn btn-sm btn-outline-danger p-1" data-toggle="modal" data-target="#AlertModuleNotReady"> <i class="fas fa-github"></i> </a> 
                            <a onclick=""class="btn btn-sm btn-outline-danger p-1" data-toggle="modal" data-target="#AlertModuleNotReady"> <i class="fas fa-youtube"></i></a> 
                          </div>
                        </li>
                      </div>
                  </div>
                </div>
              <a href="javascript:void(0)" class="mx-2 btn btn-danger p-1"  id="quit_party" > <i class="fa fa-1x fa-power-off"></i> Quitter</a>
              <div class="dropdown-menu overflow-auto" id="confirm_quit_party">
                <div class="list-group  m-0 p-0"  style="width: 400px; height:400px">
                    <div class="overflow-auto m-0 p-0" style="height: 400px;">
                      <li  class="dropdown-menu list-group-item list-group-item-action" data-toggle="modal" data-target="#AlertModuleNotReady">
                        quitter la partie en cours, entrainera la perte de vos point 
                        <div class="d-flex w-100 justify-content-between">
                          <a href="index.html" onclick=""class="btn btn-sm btn-succes p-1"> <i class=""></i> confirmer </a> 
                        </div>
                      </li>
                    </div>
                </div>
              </div>
              <script>
                $("#bonus").popover({
                  title: "<h5>besoin d'aide ? vous pouvez utilisez : </h4>",
                  container: 'body',
                  placement: 'bottom',
                  html: true, 
                  content: function(){
                        return $('#bonusList').html();
                  }
              });
              $("#quit_party").popover({
                title: "<h5>Vous voulez vraiment abendonner la partie en cours ? </h4>",
                container: 'body',
                placement: 'bottom',
                html: true, 
                content: function(){
                      return $('#confirm_quit_party').html();
                }
            });
              </script>
              <a href="javascript:void(0)" class="mx-2 btn btn-outline-white p-1" onclick="openNav()"> <i class="fa fa-1x fa-clipboard-list"></i> Menu</a>
            </div>
          </div>        
        </div>
        {% block gameUtils %}
          
        {% endblock gameUtils %}
        {% block gameCanvas %}
 
          {% endblock gameCanvas %}
        <!-- Modal pour les réglages du jeu-->
        <div class="modal fade text-dark"   id="configGameModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered dialog-scrollable">
            <div class="modal-content">
              <div class="modal-body">
                <form class="form-signin " id='settingForm'>
                  {% csrf_token %}
                  <div class="d-flex text-white justify-content-between align-items-center mb-2 text-dark">
                      <i class="fas fa-cog fa-spin fa-6x"></i>
                    <div style="width: 75%;">
                      <h2 class="h3 mb-1 font-weight-normal text-info">Avant de commencer, faites quelques petits réglages</h2> <hr>
                    </div>
                  </div>  
                  <div class="mb-4">
                    <small >Utilisez la configuration par défaut en Cliquant sur <span class="badge badge-lg badge-success">commencer</span> sans modifier les champs</small> 
                  </div>   

                  <div class="row mb-4">
                    
                    <div class="form-label col-sm-12">
                      <label for="gameLang" class="mx-3"><span class="step">2</span> Quelle langue voulez vous utiliser pour cette partie?</label>
                      <div class="row">
                        <div class="col-md-11 ml-3">
                          <select id="gameLang" name="gameLang" class="form-control"  required="required">
                            <option value="en"> Anglais </option>
                            <option value="fr"> Francais </option>
                            <option value="es"> Espagnol </option>
                            <option value="du"> Allemand </option>
                            <option value="it"> Italien </option>
                            <option value="ja"> Japonais </option>
                            <option value="ur"> Russe </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <div class="form-label col-sm-12">
                      <label for="gameTimer" class="mx-3"><span class="step">3</span> Durée du décompte</label>
                      <div class="col-12">
                        <input type="range"  id="gameTimer" name="gameTimer" min="10" max="120" onchange="$('#inputRangeselectedValue').html($('#gameTimer').val())" class="form-control" value="40" required>
                      </div>
                      <div class="col-12 d-flex justify-content-between">
                        <span>
                          <span id="inputRangeselectedValue">00</span> Secondes
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-group btn-group mb-2 col-sm-12" data-toggle="modal" data-target="#AlertModuleNotReady">
                      <label for="gameLang" class="mx-3"><span class="step">4</span> Vous voulez ajouter des joueurs?</label>
                      <select  id="gameOthersMembers" name="gameOthersMembers" data-role="multiselect" multiple="multiple" disabled = 'disabled'>
                        <option value="lab">joueur 1</option>
                        <option value="proseminar">joueur 9</option>
                        <option value="proseminar">joueur 2</option>
                        <option value="proseminar">joueur 5</option>
                        <optgroup label="Autres">
                        <option value="analysis">joueur</option>
                        <option value="algebra">joueur Algebra</option>
                        <option value="discrete">joueur Mathematics</option>
                        <option value="numerical">joueur Analysis</option>
                        <option value="probability">joueur Theory</option>
                        </optgroup>
                      </select>
                    </div>
                  </div>
                  <div class="btn-group btn-lg d-flex ">
                    <button onclick="setGameParameters()" class="btn btn-success" class="close" data-dismiss="modal" aria-label="Close"> <i class="fas fa-check-circle"></i> Commencer</button>
                    <a href="{% url 'alphabox:home' %}" class="btn btn-danger "> <i class="fas fa-times-circle"></i> Annuler</a>
                  </div>
                </form>          
              </div>
            </div>
          </div>
        </div>

        <!-- Modal pour le compte à rebour avant le lancement-->
        <div class="modal fade text-dark"   id="countdownModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered dialog-scrollable ">
            <div class="modal-content">
              <div class="modal-body">
                  <span id='countdownValue' class="">
                  </span>
              </div>
            </div>
          </div>
        </div>
        <div class="hidden" style="display: none;">
          <div class="col-12 bg-light" id="virtualKeyBoard">
            <div class="virtualKeyBoardDisplay row d-flex justify-content-between">
              <span class="letter btn btn-dark" onclick="setGameLetter('a')">a</span>
              <span class="letter btn btn-dark" onclick="setGameLetter('b')">b</span>
              <span class="letter btn btn-dark" onclick="setGameLetter('c')">c</span>
              <span class="letter btn btn-dark" onclick="setGameLetter('d')">d</span>
              <span class="letter btn btn-dark" onclick="setGameLetter('e')">e</span>
              <span class="letter btn btn-dark" onclick="setGameLetter('f')">f</span>
              <span class="letter btn btn-dark" onclick="setGameLetter('g')">g</span>
              <span class="letter btn btn-dark" onclick="setGameLetter('h')">h</span>
              <span class="letter btn btn-dark" onclick="setGameLetter('i')">i</span>
              <span class="letter btn btn-dark" onclick="setGameLetter('j')">j</span>
              <span class="letter btn btn-dark" onclick="setGameLetter('k')">k</span>
              <span class="letter btn btn-dark" onclick="setGameLetter('l')">l</span>
              <span class="letter btn btn-dark" onclick="setGameLetter('m')">m</span>
              <span class="letter btn btn-dark" onclick="setGameLetter('n')">n</span>
              <span class="letter btn btn-dark" onclick="setGameLetter('o')">o</span>
              <span class="letter btn btn-dark" onclick="setGameLetter('p')">p</span>
              <span class="letter btn btn-dark" onclick="setGameLetter('q')">q</span>
              <span class="letter btn btn-dark" onclick="setGameLetter('r')">r</span>
              <span class="letter btn btn-dark" onclick="setGameLetter('s')">s</span>
              <span class="letter btn btn-dark" onclick="setGameLetter('t')">t</span>
              <span class="letter btn btn-dark" onclick="setGameLetter('u')">u</span>
              <span class="letter btn btn-dark" onclick="setGameLetter('v')">v</span>
              <span class="letter btn btn-dark" onclick="setGameLetter('w')">w</span>
              <span class="letter btn btn-dark" onclick="setGameLetter('x')">x</span>
              <span class="letter btn btn-dark" onclick="setGameLetter('y')">y</span>
              <span class="letter btn btn-dark" onclick="setGameLetter('z')">z</span>
            </div>
          </div>
        </div>
{% endblock content %}
{% block script %}
    {{block.super}}
    <script src="{% static 'alphabox/assets/js/multipleSelect.js' %}"></script>
    <script>
      $('#gameOthersMembers').multiselect({
          //  includeSelectAllOption: true,
            enableCaseInsensitiveFiltering: true,
            filterPlaceholder: 'entrez le nom du joueur que vous recherchez...',
            buttonClass: 'btn btn-sm btn-outline-secondary w-100',
            enableCollapsibleOptGroups: true,
            buttonWidth: '150px',
            dropRight: true

        });
    </script>

    <script type="text/javascript">
        //pour afficher le modal de réglage au chargement de la page
        $(window).on('load', function() {
            $('#configGameModal').modal('show');
          });
        // définition de ma structure de donnée pour gerer les paramettres (elle sera envoyée via AJAx pour etre sauvée
        GAME_SETTING = {
          author: "Hermanno", // pas trop nécéssaire
          created_at:  new Date().getTime(),
          gameModule: "{{module}}", // à changet avec Django
          letter : null,
          timer: null ,
          lang : null,
          turn : 0,
          id: null
        }
        GAME_SETTING.id = GAME_SETTING.created_at+"_"+GAME_SETTING.author+"_"+GAME_SETTING.gameModule
        let TABLEAU=[]
        //définition de quelques variables JS se basant sur des variables de Django
        // IMPORTANT !!!!!!
        urlAjax_Setting = "{% url 'alphabox:game_guessWords_settings' %}";
        MODULE = '{{subModule}}';
    </script>
    <script src="{% static 'alphabox/assets/js/games/index.js' %}"></script>
    <script src="{% static 'alphabox/assets/js/games/voice.js' %}"></script>
    <script src="{% static 'alphabox/assets/js/games/dictee.js' %}"></script>
{% endblock script %}