    <footer class="mastfoot mt-5 ">
      <div class="inner">
        <div class="d-flex text-white justify-content-between align-items-center">
          <span class="text-white"> © Copyright - 2021 - licence privée blablabla</span>
          <div class="">
            <a href="https://getbootstrap.com/">A propos </a> |
            <a href="https://getbootstrap.com/">FAQ</a> |
            <a href="https://getbootstrap.com/">Aide ?</a> |
            <a href="https://getbootstrap.com/">Suggessions</a> |
            <a href="https://getbootstrap.com/">Bootstrap</a> 
          </div>
        </div>
      </div>
    </footer>