{% extends './base.html' %}
{% load static %}
{% block title %}
Evolution - {{block.super}}
{% endblock title %}
{% block main_content %}
              <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2 text-secondary">Votre évolution :</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                  <div class="btn-group mr-2">
                    <button type="button" class="btn btn-sm btn-outline-primary">125 Parties</button>
                    <button type="button" class="btn btn-sm btn-outline-warning">250.000 Points</button>
                    <div class="btn-group p-0 m-0 justify-content-center">
                      <button type="button" class="btn btn-outline-success mx-0">12 Badges</button>
                      <button type="button" class="btn btn-outline-success mx-0 dropdown-toggle px-3 " data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <div class="dropdown-menu overflow-auto" style="width: 400px; height:400px">
                        <div class="list-group">
                          <a href="#" class="dropdown-menu list-group-item list-group-item-action active">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">Nom du Badge</h5>
                              <small>3 days ago</small>
                            </div>
                            <div class="d-flex w-100 justify-content-between">
                              <div class="image col-3"> <div class="bg-danger w-100 h-100"></div> </div>
                              <div class="text col-9"> <small>
                                Ce badge est obtenu lorsque 
                                Ce bages est obtenu lorsque 
                              </small> </div>
                            </div>
                          </a>
                          <a href="#" class="dropdown-menu list-group-item list-group-item-action ">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">Nom du Badge</h5>
                              <small>3 days ago</small>
                            </div>
                            <div class="d-flex w-100 justify-content-between">
                              <div class="image col-3"> <div class="bg-success w-100 h-100"></div> </div>
                              <div class="text col-9"> <small>
                                Ce badge est obtenu lorsque 
                                Ce bages est obtenu lorsque 
                              </small> </div>
                            </div>
                          </a>

                          <a href="#" class="dropdown-menu list-group-item list-group-item-action ">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">Nom du Badge</h5>
                              <small>3 days ago</small>
                            </div>
                            <div class="d-flex w-100 justify-content-between">
                              <div class="image col-3"> <div class="bg-info w-100 h-100"></div> </div>
                              <div class="text col-9"> <small>
                                Ce badge est obtenu lorsque 
                                Ce bages est obtenu lorsque 
                              </small> </div>
                            </div>
                          </a>

                          <a href="#" class="dropdown-menu list-group-item list-group-item-action ">
                            <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1">Nom du Badge</h5>
                              <small>3 days ago</small>
                            </div>
                            <div class="d-flex w-100 justify-content-between">
                              <div class="image col-3"> <div class="bg-default w-100 h-100"></div> </div>
                              <div class="text col-9"> <small>
                                Ce badge est obtenu lorsque 
                                Ce bages est obtenu lorsque 
                              </small> </div>
                            </div>
                          </a>



                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="container-fluid  col-lg-8">
                  <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
                </div>
                <div class="col-lg-4">
                  <div class="table-responsive">
                    <table class="table table-striped table-sm">
                      <thead>
                        <tr>
                          <th class="h4">Langue </th>
                          <th class="h4">Niveau</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Français</td>
                          <td>
                            <span class="badge badge-success mx-2"> élevé</span>
                            <span class=""><small>21 000 mots  appris </small></span>
                          </td>
                        </tr>
                        <tr>
                        <td>Anglais</td>
                          <td>
                            <span class="badge badge-primary mx-2"> bien</span>
                            <small>21 000 mots  appris </small>
                          </td>
                        </tr>
                        <tr>
                          <td>Espagnol</td>
                          <td>
                            <span class="badge badge-secondary mx-2"> moyen</span>
                            <small>21 000 mots  appris </small>
                          </td>
                        </tr>
                        <tr>
                          <td>Latin</td>
                          <td>
                            <span class="badge badge-danger mx-2"> faible</span>
                            <small>21 000 mots  appris </small>
                          </td>
                        </tr>
                        <tr>
                          <td>Allemand</td>
                          <td>
                            <span class="badge badge-danger mx-2" > faible</span>
                            <small>21 000 mots  appris </small>
                          </td>
                        </tr>
                        <tr>
                          <td>Japonais</td>
                          <td>
                            <span class="badge badge-secondary mx-2"> moyen</span>
                            <small>21 000 mots  appris </small>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="container-fluid mt-4">
                <div class="d-flex justify-content-center">
                  <h2 class="text-secondary mt-4">Autres informations</h2>
                </div>
                <div class = "" id="parties">
                  <h4 class="text-secondary mt-2"> <span class="step">1</span> - Historique de vos Parties</h4>
                  <div class="table-responsive mb-4">
                    <table class="table table-striped table-sm">
                      <thead>
                        <tr>
                          <th class="h5"> Date</th>
                          <th class="h5">Gagnant</th>
                          <th class="h5">dernier</th>
                          <th class="h5">Vos points</th>
                          <th class="h5">Mots appris</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>25 Juin 2021 à 11h 40min</td>
                          <td>Vous</td>
                          <td>Joueur xs</td>
                          <td>59</td>
                          <td><a href="" class="text-primary"> consulter</a> (46)</td>
                        </tr>
                        <tr>
                          <td>25 Juin 2021 à 11h 40min</td>
                          <td>Vous</td>
                          <td>Joueur xs</td>
                          <td>59</td>
                          <td><a href="" class="text-primary"> consulter</a> (46)</td>
                        </tr>
                        <tr>
                          <td>25 Juin 2021 à 11h 40min</td>
                          <td>Vous</td>
                          <td>Joueur xs</td>
                          <td>59</td>
                          <td><a href="" class="text-primary"> consulter</a> (46)</td>
                        </tr>
                        <tr>
                          <td>25 Juin 2021 à 11h 40min</td>
                          <td>Vous</td>
                          <td>Joueur xs</td>
                          <td>59</td>
                          <td><a href="" class="text-primary"> consulter</a> (46)</td>
                        </tr>
                        <tr>
                          <td>25 Juin 2021 à 11h 40min</td>
                          <td>Vous</td>
                          <td>Joueur xs</td>
                          <td>59</td>
                          <td><a href="" class="text-primary"> consulter</a> (46)</td>
                        </tr>                        <tr>
                          <td>25 Juin 2021 à 11h 40min</td>
                          <td>Vous</td>
                          <td>Joueur xs</td>
                          <td>59</td>
                          <td><a href="" class="text-primary"> consulter</a> (46)</td>
                        </tr>                        <tr>
                          <td>25 Juin 2021 à 11h 40min</td>
                          <td>Vous</td>
                          <td>Joueur xs</td>
                          <td>59</td>
                          <td><a href="" class="text-primary"> consulter</a> (46)</td>
                        </tr>                        <tr>
                          <td>25 Juin 2021 à 11h 40min</td>
                          <td>Vous</td>
                          <td>Joueur xs</td>
                          <td>59</td>
                          <td><a href="" class="text-primary"> consulter</a> (46)</td>
                        </tr>                        <tr>
                          <td>22 Avril 2021 à 11h 40min</td>
                          <td>Vous</td>
                          <td>Joueur xs</td>
                          <td>59</td>
                          <td><a href="" class="text-primary"> consulter</a> (46)</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              
{% endblock main_content %}
{% block script %}
    {{block.super}}

    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <script src="{% static 'alphabox/assets/js/evolution.js' %}"></script>
  
{% endblock script %}